.single_info-box{
    background: #132347;
    padding: 20px;
    border-radius: 5px;
    border-bottom: 1px solid #7865ff;
    margin-bottom: 25px;
    font-weight: 300;
    margin-top: 10px;
    font-size: 0.9rem;
    margin-bottom: 20px;
    width: 700px;
}


.single_info-box h6{
    font-size: 1.1rem;
}

.single_info-box2{
    background: #132347;
    padding: 20px;
    border-radius: 5px;
    border-bottom: 1px solid #7865ff;
    margin-bottom: 25px;
}

.single_info-box3{
    background: #132347;
    padding: 20px;
    border-radius: 5px;
    border-bottom: 1px solid #7865ff;
    margin-bottom: 300px;
}

.single_info-box4{
    background: #132347;
    padding: 20px;
    border-radius: 5px;
    border-bottom: 1px solid #7865ff;
    margin-bottom: 25px;
    height: 95%;
    width: 40%;
}

.bbbb{
    display: flex;
    justify-content: space-between
}

.vvvv{
    margin-top: 11100px 0;
}